*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: auto;
}
.container{
    height: 100vh;
    width: auto;
    overflow: hidden;
    
}
.images{
    height: 100vh;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
img{
    height: fit-content;
    width: fit-content;
    
}
.container > .prev{
    height: 50px;
    width: 50px;
    position: absolute;
    top: 50%;
    left: 5%;
    color: aliceblue;
    font-size: 2.5rem;
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}
.container > .nxt{
    height: 50px;
    width: 50px;
    position: absolute;
    top: 50%;
    right: 5%;
    color: aliceblue;
    font-size: 2.5rem;
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}.nxt:hover, .prev:hover{
    
   color: rgb(255,255,255,0.23);
   margin: 5px;
} 
